.App {
    display: block;
    
}

.AppHeader {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.search {
    background: black;
    width:96%;
    color: azure;
}

.form {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.tracklistWrapper {
    margin-top: 30px;
    display: flex;
    flex-flow:row ;
    align-content: center;
    justify-content: space-between;
   
    
}
