.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    height:600px;
    width: auto;
  }

 .childcontainer {
    flex: 1;
    justify-content: center;
    align-content: center;
    background-color: #353d99bb;
    height: 100%;
    width:400px;
    margin:5%;
    border-radius: 5%;
    
 }

 .child-container:first-child {
    margin-right: 40px;
 }

 .newdiv {
    margin: 0 auto;
    height:95%;
    width:95%;
    background-color: #252025c4;
    
}
.h3 {
    text-align: center;
}