
body {
    background-image: url(/public/pink-synthwave-outrun-gfxvs6l5faewfznd.jpg);
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

h1 {
    text-align: center;

}

