
  .input {
    all: unset;
    font: 1.2rem system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    text-align: center;
    
  }
  .newdiv {
    display: block;
    margin: 0 auto;
    height:95%;
    width:95%;
    background-color: #252025c4;
    padding: 10px;
    
}
.playlist {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
.saveto {
  margin: 0 auto;
  background-color: #4654e1;
  color: azure;
  width: 20%;
  height: 30px;
  font-size: 18px;
}